 <!--toolbar-->
 <mat-toolbar  [ngStyle]="{'background-color':toolbartheme,'color':toolbarfontcolor}" color="primary" class='topnav' *ngIf="showNav">
  <!-- <div fxShow="true" fxHide.gt-sm="true"> -->
 <i class='fa fa-align-justify just' (click)="sidenav.toggle()"></i>
 <!--page title-->
 <span class='pagetitle'> {{pageTitle}}</span>
 <!--end of page title-->
   <!--theme-->
   <mat-form-field class='formele'>
       <mat-select [(value)]="selectedtheme" (selectionChange)="onthemeselected($event)">
           <mat-option *ngFor="let pokemon of themelist" [value]="pokemon.value">
               {{pokemon.viewvalue}}
             </mat-option>
       </mat-select>
     </mat-form-field>
   <!--end of theme-->
 <span class="example-fill-remaining-space"></span>
 <span class="fill-remaining-space"></span>
 <span class='logout curusr'>{{currentUser}}</span>
 <span class='logout' (click)="logout()">Logout</span>
 <!-- </div> -->
</mat-toolbar>
<!--end of toolbar-->
<!--sidebar container-->
<mat-sidenav-container class="example-container">
   <!--sidenav-->
 <mat-sidenav [ngStyle]="{'background-color':sidebartheme}" *ngIf="showNav" class='sidenav' #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
              (closed)="events.push('close!')">
     <!--nav list-->
   <mat-nav-list class="main-menu">
     <a [ngStyle]="{'color':sidebarfontcolor}" mat-list-item routerLinkActive="active-link"  [routerLink]="link.router" class='menuanchor' href="..." *ngFor="let link of menulist">
         <i class="{{link.icon}}"></i><span class='lnktit'>{{link.title}}</span></a>
   </mat-nav-list>
     <!--end of nav list-->
 </mat-sidenav>
 <!--end  of sidenav-->
 <!--sidenav content-->
 <mat-sidenav-content>
   <div class='parentele' style="height: 90vh;">
         <router-outlet></router-outlet>
        
   </div>
 </mat-sidenav-content>
 <!--end of sidenav content-->
</mat-sidenav-container>
<!--end of sidebar container-->
